---
import classNames from "classnames";
import type { Post } from "../../types";
import PostGridItem from "./PostGridItem.astro";

export interface Props {
  cellSize: "sm" | "md" | "lg" | "landing";
  class?: string;
  posts: Post[];
}

const { cellSize, class: className, posts } = Astro.props;
---

<div
  class={classNames(
    "grid gap-12",
    { "grid-cols-2": cellSize === "lg" },
    { "grid-cols-3": cellSize === "md" },
    { "grid-cols-4": cellSize === "sm" || cellSize === "landing" },
    className
  )}
>
  {
    cellSize !== "landing" ? (
      posts.map((post) => <PostGridItem size={cellSize} {...post} />)
    ) : (
      <>
        <PostGridItem
          size="lg"
          {...posts[0]}
          class="col-start-1 col-end-3 row-start-1 row-end-3"
        />
        {posts.slice(1).map((post) => (
          <PostGridItem size="sm" {...post} />
        ))}
      </>
    )
  }
  <slot />
</div>
