---
import { useStoryblokApi } from "@storyblok/astro";
import Header from "../components/header/Header.astro";
import PostGrid from "../components/posts/PostGrid.astro";
import Layout from "../layouts/Layout.astro";

const storyblokApi = useStoryblokApi();
const homeRes = await storyblokApi.get("cdn/stories/home", {
  version: import.meta.env.DEV ? "draft" : "published",
});

const postsRes = await storyblokApi.get("cdn/stories", {
  starts_with: "blog-posts/",
  version: import.meta.env.DEV ? "draft" : "published",
});

const stories = postsRes.data.stories;

const homeStory = homeRes.data.story;
---

<Layout title="Home">
  <main>
    <Header heading={homeStory.content.heading} />
    <div class="flex flex-col gap-y-32">
      <section>
        <PostGrid cellSize="landing" posts={stories} />
      </section>
      <section>
        <h2 class="mb-6">Most popular</h2>
        <PostGrid cellSize="lg" posts={stories} />
      </section>
      <section>
        <h2 class="mb-6">More posts</h2>
        <PostGrid cellSize="md" posts={stories} />
      </section>
    </div>
  </main>
</Layout>
