---
import HeaderTags from "./HeaderTags.astro";

export interface Props {
  heading: string;
}

const { heading } = Astro.props;
---

<header class="flex flex-col gap-y-12 mt-24 mb-12">
  <HeaderTags class="self-end" />
  <h1>{heading}</h1>
</header>
