---
export interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href} class="group no-underline text-xl font-bold flex gap-x-2">
  <span><slot /></span>
  <svg
    width="14"
    height="14"
    viewBox="0 0 14 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="translate-y-1 transition-transform group-hover:translate-y-0 group-hover:translate-x-1"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M4.1957 0H13.1089C14.0002 0 13.1089 0 14.0002 1.20863e-05V9.80448C14.0002 9.80448 13.6012 9.80448 13.1089 9.80448C12.6167 9.80448 13.1089 9.80448 12.2176 9.80448V3.04314L1.26076 14L0.000244141 12.7395L10.9571 1.78263H4.19577C4.1957 0.891316 4.19577 1.38358 4.19577 0.891316C4.19577 0.399056 4.1957 0.891316 4.1957 0Z"
      fill="#113BAE"></path>
  </svg>
</a>
