---
export interface Props {
  href?: string;
}

const { href } = Astro.props;

const Button = href ? "a" : "button";
---

<Button
  href={href}
  class="no-underline rounded-full bg-primary text-bg text-lg font-bold px-8 py-3"
>
  <slot />
</Button>
