<footer
  class={`relative px-2 lg:px-12 py-8 bg-text flex justify-content
          before:absolute before:h-full before:w-screen before:bg-text
          before:-z-10 before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2`}
>
  <p class="text-bg">&copy; {new Date().getFullYear()} Borys Kaczmarek</p>
</footer>
