---
import { nameToSlug } from "../utils/nameToSlug";

export interface Props {
  name: string;
}

const { name } = Astro.props;
---

<li>
  <a
    href={`/my-blog/tags/${nameToSlug(name)}`}
    class="no-underline text-primary font-bold text-lg">{name}</a
  >
</li>
