---
import Button from "./Button.astro";
import NavbarLink from "./NavbarLink.astro";
---

<nav class="py-2 lg:py-6 flex justify-between items-center">
  <a href="/my-blog/" class="no-underline flex gap-x-4"
    ><svg
      width="32"
      height="31"
      viewBox="0 0 32 31"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M29.0731 25.2269C30.9168 22.6195 32 19.4362 32 16C32 7.16344 24.8366 0 16 0C7.16344 0 0 7.16344 0 16C0 22.6767 4.08955 28.3982 9.90039 30.7963V7.89999H19.5367C22.2324 7.89999 24.468 8.46071 26.072 9.75323C27.6855 11.0336 28.5192 12.7414 28.5192 14.7911C28.5192 16.4511 28.0178 17.8985 26.9484 19.0334L26.9391 19.0433C26.5761 19.419 26.1778 19.7512 25.7465 20.0409C26.316 20.3951 26.8409 20.8318 27.3191 21.3495C28.3502 22.4657 28.9433 23.7688 29.0731 25.2269ZM27.947 26.6431C27.9826 26.3837 28.0004 26.1183 28.0004 25.8469C28.0004 24.4211 27.504 23.1707 26.5111 22.0958C25.9488 21.4872 25.3167 21.0122 24.6147 20.6708C24.077 20.4093 23.4983 20.2263 22.8786 20.1216C23.5006 19.9577 24.0697 19.7364 24.5861 19.4577C25.1755 19.1396 25.696 18.7467 26.1478 18.279C26.9954 17.3796 27.4192 16.217 27.4192 14.7911C27.4192 13.0801 26.7411 11.6872 25.385 10.6123C24.0531 9.53743 22.1037 8.99999 19.5367 8.99999H11.0004L19.5363 9C22.1033 9 24.0527 9.53743 25.3846 10.6123C26.7407 11.6872 27.4188 13.0801 27.4188 14.7911C27.4188 16.217 26.995 17.3796 26.1474 18.279C25.2999 19.1564 24.2101 19.7706 22.8782 20.1216C24.307 20.3629 25.5178 21.021 26.5107 22.0959C27.5036 23.1707 28 24.4211 28 25.8469C28 26.1185 27.9822 26.384 27.9465 26.6436C27.9466 26.6434 27.9468 26.6433 27.947 26.6431ZM13.5431 21.0758V30.0586H19.6094L19.609 30.0587H13.5427V21.0758L13.5431 21.0758ZM14.6431 22.1758V28.9586H19.6094C21.3075 28.9586 22.4644 28.5927 23.2211 28.0052L23.231 27.9976C23.9802 27.4294 24.3577 26.6774 24.3577 25.6166C24.3577 24.5751 23.9714 23.8083 23.166 23.2084L23.1555 23.2006L23.1453 23.1926C22.3302 22.555 21.1548 22.1758 19.5004 22.1758H14.6431ZM22.7434 12.8917C22.0961 12.3826 21.0245 12.0413 19.3551 12.0413H14.6431V18.0674H19.4641C21.0475 18.0674 22.0885 17.7317 22.7425 17.2176C23.4002 16.698 23.7401 16.0079 23.7401 15.0215C23.7401 14.0639 23.4061 13.3998 22.7543 12.9002L22.7434 12.8917ZM13.5431 10.9413V19.1674H19.4641L19.4637 19.1674H13.5427V10.9413H13.5431Z"
        fill="#113BAE"></path>
    </svg>
    <h5>Blog</h5>
  </a>
  <ul class="flex gap-x-16 items-center">
    <li>
      <NavbarLink href="/">Portfolio</NavbarLink>
    </li>
    <li>
      <Button href="/contact">Get in touch</Button>
    </li>
  </ul>
</nav>
